body {
    background-color: #1b1f27;
    font-family: sans-serif;
}

.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form input {
    margin-top: 10px;
}
